
  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
 
  header h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
 header h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
figure img {
  width: 6%;
  border-radius: 50%;
  padding: 5%;
}

main h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* sextion b */
.sectionb {

  display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  /* section c */
.sectionc { 
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}
   

header {
  background-image: url(imagens/surf.jpeg);
}
   
body {
  background-color: aquamarine;
}
