
  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
 
  header h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
 header h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

header h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

figure img {
  width: 7%;
  border-radius: 50%;
  padding: 5%;
  border: 2px solid rgb(255, 255, 255);
  transition: all .7s;
  margin: 5px;
  padding: 10px;
  color: white;
  margin-top:1%;
  
}

main h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* sextion b */
.sectionb {

  display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  /* section c */
.sectionc { 
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}
   

header {
  background-image: url(imagens/bg.jpg);
  height:100vh;
  color:rgb(248, 247, 247);
 display: flex;
 flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8%;
  margin-top: -2%;
  margin-left: -2%;
  margin-right: -2%;
  font-size: 16px;
}

   
body {
  background-color: whitesmoke;
}

